<div class="newsletter-signup my-4 py-3 border-top">
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/enrico-mautone"
    method="post"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">Enter your email</label>
    <input type="email" name="email" id="bd-email" />
    <input type="submit" value="Subscribe" />
    <p>
      <a href="https://buttondown.com/refer/enrico-mautone" target="_blank">
        Powered by Buttondown.
      </a>
    </p>
  </form>
</div>
